body {
	min-width: 500px;
	overflow-x: hidden;
	font-family: sans-serif;
	background-color: cyan;
	
	padding-top:10px;
	padding-bottom:10px;
}

h2 {
	margin-top: 0px
}
  

.row {
	height: 40px;
}
 
.row label {
	display: inline-block;
	width: 40%;
}

.row .slider-label {
	position: relative;
	bottom: 7px;
}

.row input[type="range"] {
	width: 55%;
}